@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<br />
<div class="jumbotron">
  <h1>A couple words of this project</h1>
  <p>This is a project which was developed in order to getting know Azure Storage Services.</p>
  
</div>
